/* *{font-family: 'Roboto', sans-serif;} */
*{
    margin: 0;
    padding: 0;
    cursor: wait;
    user-select: none;
    box-sizing: border-box;
}
body {
    background: #ECEFF1; 
    color: rgba(0,0,0,0.87); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 

}
.card{
    background: white; 
    width: 25rem;
    height: auto;
    display: ;
    /* max-width: 24rem;  */
    margin: 20vh auto ; 
    padding: 2.3rem 1.7rem 1.9rem; 
    border-radius: 3px; 
    /* overflow-wrap: break-word; */
}

.header_logo{ 
    font-family: 'Ubuntu', sans-serif; 
    font-size: 38px; 
    font-weight: 700; 
    color: #007fda; 
    /* margin: 1rem; */
}
/* #message p { 
    line-height: 140%; 
    margin: 16px 0 24px; 
    font-size: 14px; 
} */
/* #message a { 
    display: block; 
    text-align: center; 
    background: #039be5; 
    text-transform: uppercase; 
    text-decoration: none; 
    color: white; 
    padding: 16px; border-radius: 4px; 
} */
.card, .card a { 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                   0 1px 2px rgba(0,0,0,0.24); 
}
/* #load { 
    color: rgba(0,0,0,0.4); 
    text-align: center; 
    font-size: 13px; 
} */


.redirect_to{
    color: #11c24c; 
    font-weight: bold; 
    font-size: 16px; 
    margin-top: 1.7rem;
    margin-bottom: .5rem;
}
.link_text{
    /* width: 2rem; */
    height: auto;
    font-weight: normal;
    font-family: monospace;
    font-size: .9rem;
    word-break: break-all;
}


.loading_gif{
    width: 5rem;
    /* padding-top: rem; */
    display: block;
    margin: auto;
    margin-top: 1.5rem;
    text-align: center;
}
.p1{
    display: inline;
    font-size: 1.1rem;
}
h2, .p1{
    margin-left: .2rem;
}










@media (max-width: 600px) {
    body, .card {
        margin-top: 0; 
        background: white; 
        box-shadow: none; 
    }
    body { 
        border-top: 16px solid #ffffff; 
    }
    .loading_gif{
        width: 9rem;
        margin-top: 3rem;
    }
}