*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #81818131;
}
.logoArea{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}
.pageLogo{
    width: 55vw;
    font-size: 12vw;
    font-weight: 700;
    text-align: center;
    /* margin: auto; */
    padding: 2vw ;
    background-color: #ffffff;
    font-family: 'Ubuntu',  sans-serif;
    color: #007fda;
    text-shadow: 5px whitesmoke; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .8rem;
    text-decoration: none;
}
.pageLogo:hover{
    box-shadow: #007fda38 0px 3px 8px;
}
.infoLine{
    font-size: 5vw;
    font-family: console;
    font-weight: 100;
    text-align: center;
    margin-top: 30vh;
    color: #fd0000;
    font-family: fira;
}